<div class="center-content">
  <h2>Post Details</h2>
</div>
<div class="card-container" *ngIf="post">
  <h5>{{ post.title | capitalizeFirstLetter }}</h5>
  <p>{{ post.body | capitalizeFirstLetter }}</p>
</div>
<div class="center-content">
  <h2>Comments</h2>
</div>

<div class="comment">
  <app-comment-card *ngFor="let comment of filteredComments" [comment]="comment"></app-comment-card>

</div>

<button (click)="goBack()" class="floating-back-button">
  <i class="bi bi-arrow-left"></i> <!-- Bootstrap ikonu -->
</button>