@import "../../shared/styles/shared-card.scss";
@import "../../shared/styles/back-button.scss";

.center-content {
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 15px;
    font-size: 2vw;
  }
}

.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
