.header {
  background-color: #ffffff;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
  position: relative;
  z-index: 100;
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .navbar-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
  }

  .menu-icon,
  .search-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #555; 

    &.menu-icon {
      font-size: 22px; /* Menu ikonunu büyütmek için font-size artırıldı */
    }

    &.search-icon {
      margin-right: 20px;
      font-size: 12px;

      input {
        border: 1px solid #ddd; 
        padding: 5px 10px;
        border-radius: 8px; 
        outline: none;
        transition: border-color 0.3s;

        &:focus {
          border-color: #aaa; 
        }
      }


      button {
        background: none;
        border: none;
        outline: none;
        margin-left: -25px; 
        padding: 0;
        cursor: pointer;
        color: #555;
      }
    }
  }

 
}


